@charset "UTF-8";

html{
}

body{
    height: 100vh;
    background: rgba(20,124,222,1);
    background: -moz-linear-gradient(top, rgba(20,124,222,1) 0%, rgba(20,124,222,1) 30%, rgba(240,222,22,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(20,124,222,1)), color-stop(30%, rgba(20,124,222,1)), color-stop(100%, rgba(240,222,22,1)));
    background: -webkit-linear-gradient(top, rgba(20,124,222,1) 0%, rgba(20,124,222,1) 30%, rgba(240,222,22,1) 100%);
    background: -o-linear-gradient(top, rgba(20,124,222,1) 0%, rgba(20,124,222,1) 30%, rgba(240,222,22,1) 100%);
    background: -ms-linear-gradient(top, rgba(20,124,222,1) 0%, rgba(20,124,222,1) 30%, rgba(240,222,22,1) 100%);
    background: linear-gradient(to bottom, rgba(20,124,222,1) 0%, rgba(20,124,222,1) 30%, rgba(240,222,22,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#147cde', endColorstr='#f0de16', GradientType=0 );
}

header{
    text-align:center;
    padding-top:80px;
    padding-bottom:30px;
}

header h1{
    margin-bottom:10px;
}

header img{
    height:70px;
    width:180px;
}

header p{
    color:#fff;
    font-size:30px;
}

#container{
    width:350px;
    margin: 0 auto;
}

.form{
    padding:25px 20px 30px 20px;
    text-align:center;
    background-color:rgba(128, 128, 128, 0.3);
    border-radius:10px;
    box-shadow:0px 0px 5px rgba(0, 0, 0, 0.5);
    margin-bottom:80px;
}

.register{
    color:#fff;
    margin-bottom: 20px;
    font-size:20px;
}

.content{
    display: block;
    margin: 0 auto;
}


label{
    display: block;
    text-align: left;
    color:#fff;
    margin-bottom:10px;
}

.label_login{
    margin-top:10px;
}


.content .input{
    width:100%;
    height: 25px;
    border: 1px solid black;
    border-radius:5px;
}

.content .input:nth-of-type(4){
    margin-bottom:50px;
}

.content .password{
    width:100%;
    height: 25px;
    border: 1px solid black;
    border-radius:5px;
}

.submit{
    margin-top:10px;
    padding: 5px 10px;
    width:150px;
    font-size:20px;
    background-color:red;
    color:white;
    border-radius:5px;
    border:none;
    box-shadow:4px 4px #904702;
    transition: 0.2s;
    cursor: pointer;

}

.submit:active{
    box-shadow:none;
}

.error-box{
    text-align: left;
    margin-top:5px;
    height: 45px;
}

.errormessage{
    color:rgb(255, 72, 0);
    font-size:16px;    
}

.form a {
    display:block;
    margin-top:40px;
    color:#fff;
    transition: 0.25s;
}

.form a:hover{
    text-shadow:0 0 5px #000;

}

div #clear{
    padding:30px 20px 30px 20px;
    text-align:center;
    background-color:rgba(128, 128, 128, 0.3);
    border-radius:10px;
    box-shadow:0px 0px 5px rgba(0, 0, 0, 0.5);

}

div#clear p{
    color:#fff;
    margin-bottom:30px;
}

div .name span{
    font-weight:bold;
    font-size:20px;
}

#clear p a{
    display:block;
    text-decoration:none;
    color:#fff;
    background-color:red;
    border-radius:5px;
    padding:15px;
    width:130px;
    margin:0 auto;
}