@charset "utf-8";
html{
    font-size: 16px;
    width:100%;

}
body{
    
}
/* header */
#header{
    background:#186AC9;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
}

.header{
    max-width: 1152px;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#header-logo{
    flex: none;
    width: auto;
    height: 35px;
  }

#header-right{
    display:flex;
    margin:0 0 0 auto;
}

nav{
    /* display: none; */
}


/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 80%;
}
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

/* 共通のヘッダー */


/* モーダル */
.content{
    margin: 0 auto;
    padding: 40px;
}
.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}
.modal__bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal__content{
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
}
